@page
@model ALS.Pages.Groups
@{
    Layout = "_Layout";
    ViewData["Title"] = "Группы";
}
<h3>Группы </h3>
<div class="container">
<table style="width: 100%" class="table table-hover" border="1">
    <thead>
    <tr>
    <td>Группа</td>
    <td>Год начала обучения</td>    
    <td>Код специальности</td>
    <td>Действие</td>
    </thead>
    <tbody id="tbodyContent">
</table>
</div>
<button class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#myModal">Добавить группу</button>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title">Новая группа</h4><button class="close" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Groups", FormMethod.Post))
                {
                    @Html.Label("Наименование группы:\t")
                    @Html.TextBox("Name", null, new {id = "newName"})
                    @Html.Label("Год начала обучения:\t")
                    @Html.TextBox("Year", null, new {id = "newYear"})
                    @Html.Label("Специальность:\t")
                    @Html.DropDownList("SpecialityId", Model.Specialities, new {id = "newSpecialityId"})
                    <p><input type="button" class="btn btn-dark" value="Отправить" onclick="createGroup()" /></p>
                }
            </div>
            <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
        </div>
    </div>
</div>

<div id="edit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title">Редактирование группы</h4><button class="close" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Update", "Groups", FormMethod.Post))
                {
                    @Html.Label("Наименование группы:\t")
                    @Html.TextBox("Name", null, new {id = "EditName"})
                    @Html.Label("Год начала обучения:\t")
                    @Html.TextBox("Year", null, new {id = "EditYear"})
                    @Html.Label("Специальность:\t")
                    @Html.DropDownList("SpecialityId", Model.Specialities, new {id = "EditSpecialityId"})
                    @Html.Hidden("groupId", null, new {id = "EditGroupId"});
                    <p><input type="button" class="btn btn-dark" value="Отправить" onclick="editGroup()" /></p>
                }
            </div>
            <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
        </div>
    </div>
</div>

<script>
    $.ajax(
        {
            type: 'GET',
            url: '/api/groups/getall',
            beforeSend: (xhr) => 
            {
                let token = sessionStorage.getItem(tokenKey);
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: (groups) =>
            {
                let tbdy = document.getElementById('tbodyContent');
                for (let group of groups)
                {
                    let tr = document.createElement('tr');
                    for(let prop in group)
                    {
                        if(prop !== 'groupId')
                        {
                            let td = document.createElement('td');
                            td.appendChild(document.createTextNode(group[prop]));
                            tr.appendChild(td);
                        }
                    }
                    let td = document.createElement('td');
                    td.dataset.id = group.groupId;
                    td.innerHTML = '<button style="margin-right: 5%" data-toggle="modal" onclick="editPrepareGroup(this)" data-target="#edit" class="btn btn-primary edit-item">Редактировать</button>' +
                     '<button onclick="removeGroup('+ group.groupId +')" class="btn btn-danger remove-item">Удалить</button>';
                    tr.appendChild(td);
                    tbdy.appendChild(tr);
                }
            },
            error: (groupsFail) =>
            {
                document.body.innerHTML = '';
                alert('Нет доступа');
                history.go(-1);
            }
        }
    );
    
    function createGroup() {
              let group = {
                           Name: $('#newName').val(),
                           Year: $('#newYear').val(),
                           SpecialityId: $('#newSpecialityId').val()
                           };
              $.ajax(
                  {
                      type: 'POST',
                      url: '/api/groups/create',
                      contentType:  "application/json; charset=utf-8",
                      dataType: "json",
                      data: JSON.stringify(group),
                      beforeSend: (xhr) =>
                      {
                           let token = sessionStorage.getItem(tokenKey);
                           xhr.setRequestHeader("Authorization", "Bearer " + token);
                      },
                      success: (g) =>
                      {
                          document.location.reload(true);
                      },
                      error: (response) =>
                      {
                          console.log(response);
                          alert('Не удалось добавить группу');
                      }
                  }
                );
    }
      function removeGroup(groupId) {
                    if(confirm("Вы точно хотите удалить эту группу?"))
                    {
                        $.ajax(
                            {
                                type: 'POST',
                                url: '/api/groups/delete',
                                beforeSend: (xhr) =>
                                {
                                     let token = sessionStorage.getItem(tokenKey);
                                     xhr.setRequestHeader("Authorization", "Bearer " + token);
                                     xhr.setRequestHeader("groupId", groupId)
                                },
                                success: (g) =>
                                {
                                    document.location.reload(true);
                                },
                                error: (response) =>
                                {
                                    console.log(response);
                                    alert('В группе есть ещё студенты');
                                }
                            }
                          );
                    }
      }
      
      function editPrepareGroup(obj) {
                let id = $(obj).parent("td").data('id');
            
                let code = $(obj).parent("td").prev("td").text();
                
                let year = $(obj).parent("td").prev("td").prev("td").text();
                
                let group = $(obj).parent("td").prev("td").prev("td").prev("td").text();
                
                $("#edit").find("input[id='EditName']").val(group);
                $("#edit").find("input[id='EditYear']").val(year);
                $("#edit").find("input[type='hidden']").val(id);
                $("#edit").find("select[id='EditSpecialityId']").val(code);
      }
      
      function editGroup() {
             let group = {
                        Name: $('#EditName').val(),
                        Year: $('#EditYear').val(),
                        SpecialityId: $('#EditSpecialityId').val()
                        };
                   $.ajax(
                       {
                           type: 'POST',
                           url: '/api/groups/update',
                           contentType:  "application/json; charset=utf-8",
                           dataType: "json",
                           data: JSON.stringify(group),
                           beforeSend: (xhr) =>
                           {
                                let token = sessionStorage.getItem(tokenKey);
                                xhr.setRequestHeader("Authorization", "Bearer " + token);
                                xhr.setRequestHeader("groupId", $('#EditGroupId').val());
                           },
                           success: (g) =>
                           {
                               document.location.reload(true);
                           },
                           error: (response) =>
                           {
                               console.log(response);
                               alert('Не удалось обновить группу');
                           }
                       }
                     );   
      }
</script>