@page
@model ALS.Pages.LaboratoryWorksModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "LaboratoryWorks";
}

<h3>Лабораторные работы </h3>

<div class="container">
    <table style="width: 100%" class="table table-hover" border="1">
        <tr>
            <td>#</td>
            <td>Название</td>
            <td>Тема</td>
            <td>Номер шаблона</td>
            <td>Описание</td>
            <td>Кто добавил</td>
            <td>Действия</td>
        </tr>
        @foreach (var item in Model.LaboratoryWorks)
        {
            <tr>
                <td>@item.LaboratoryWorkId</td>
                <td>@item.Name</td>
                <td>@item.Theme.Name</td>
                @{
                    string s = "---";
                    int templateId = item.TemplateLaboratoryWorkId ?? -1;
                    if (item.TemplateLaboratoryWork != null)
                    {
                        s = $"#{item.TemplateLaboratoryWorkId?.ToString()} {item.TemplateLaboratoryWork.TemplateTask.Substring(item.TemplateLaboratoryWork.TemplateTask.LastIndexOf('/')+1)}";
                    }
                    <td>@s</td>
                }
                <td>@item.Description</td>
                <td>@item.User.Name @item.User.Surname</td>
                <td>                    
                    <input type="button" id="buttonUpdate" class="btn btn-primary edit-item" value="Редактировать" onclick="openModalUpdate(@item.LaboratoryWorkId, @item.UserId, @templateId,
                            @item.ThemeId, '@item.DisciplineCipher','@item.Name', '@item.Description', '@item.Constraints', '@((int)item.Evaluation)')" />                            
                    <input type="button" id="buttonDelete" class="btn btn-danger remove-item" value="Удалить" onclick="deleteLw(@item.LaboratoryWorkId, @item.UserId)" />
                </td>
            </tr>
        }
    </table>
    <input id="buttonCreate" class="btn btn-info btn-lg" type="submit" value="Создать" onclick="openModalCreate()" />
</div>

<div id="myModalCreate" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Создание лабораторной работы</h4><button class="close" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <p class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">ID Шаблон</label>
                        @Html.DropDownList("TemplateId", Model.TemplateLWs, new { @class = "form-control col-sm-10", id = "s1TemplateId" })
                    </p>
                    <p class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Тема</label>
                        @Html.DropDownList("ThemeId", Model.Themes, new { @class = "form-control col-sm-10", id = "s1ThemeId" })
                    </p>
                    <p class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Дисциплина</label>
                        @Html.DropDownList("DisciplineCipher", Model.Disciplines, new { @class = "form-control col-sm-10", id = "s1DisciplineCipher" })
                    </p>
                    <p class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Оценка</label>
                        @Html.DropDownList("Evaluation", Model.Evaluations, new { @class = "form-control col-sm-10", @id = "s1Evaluation" })
                    </p>
                    <p class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Название</label>
                        @Html.TextBox("Name", null, new { @class = "form-control col-sm-10", id = "i1Name" })
                    </p>
                    <p>
                        <label class="col-form-label font-weight-bold">Описание</label>
                        <textarea id="i1Description" class="form-control" , name="i1Description"></textarea>
                    </p>
                    <p>
                        <label class="col-form-label font-weight-bold">Ограничения (JSON)</label>
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label id="mem1" class="col-form-label font-weight-bold">Память - 4096000</label>
                                        <input type="range" class="form-control-range" id="i1ControlRange1" min="2096000" max="6096000" value="4096000" step="10000" />
                                    </div>

                                    <div class="form-group row">
                                        <label id="time1" class="col-form-label font-weight-bold">Время - 60000</label>
                                        <input type="range" class="form-control-range" id="i1ControlRange2" min="10000" max="90000" value="60000" step="10000" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </p>
                    <p><input type="button" class="btn btn-info btn-lg" value="Отправить" id="submitCreate" onclick="create()" /></p>
                </form>
            </div>
            <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
        </div>
    </div>
</div>

<div id="myModalUpdate" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Обновление лабораторной работы</h4><button class="close" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <p class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">ID Шаблон</label>
                        @Html.DropDownList("TemplateId", Model.TemplateLWs, new { @class = "form-control col-sm-10", id = "s2TemplateId" })
                    </p>
                    <p class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Тема</label>
                        @Html.DropDownList("ThemeId", Model.Themes, new { @class = "form-control col-sm-10", id = "s2ThemeId" })
                    </p>
                    <p class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Дисциплина</label>
                        @Html.DropDownList("DisciplineCipher", Model.Disciplines, new { @class = "form-control col-sm-10", id = "s2DisciplineCipher" })
                    </p>
                    <p class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Оценка</label>
                        @Html.DropDownList("Evaluation", Model.Evaluations, new { @class = "form-control col-sm-10", @id = "s2Evaluation" })
                    </p>
                    <p class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Название</label>
                        @Html.TextBox("Name", null, new { @class = "form-control col-sm-10", id = "i2Name" })
                    </p>
                    <p>
                        <label class="col-form-label font-weight-bold">Описание</label>
                        <textarea class="form-control" id="i2Description" name="i2Description"></textarea>
                    </p>
                    <p>
                        <label class="col-form-label font-weight-bold">Ограничения (JSON)</label>
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label id="mem2" class="col-form-label font-weight-bold">Память - 4096000</label>
                                        <input type="range" class="form-control-range" id="i2ControlRange1" min="2096000" max="6096000" value="4096000" step="10000" />
                                    </div>

                                    <div class="form-group row">
                                        <label id="time2" class="col-form-label font-weight-bold">Время - 60000</label>
                                        <input type="range" class="form-control-range" id="i2ControlRange2" min="10000" max="90000" value="60000" step="10000" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </p>
                    <input id="hiddenId" name="hiddenId" hidden>
                    <input id="hiddenUserId" name="hiddenUserId" hidden>
                    <p><input type="button" class="btn btn-info btn-lg" value="Отправить" id="submitUpdate" onclick="updateLw()" /></p>
                </form>
            </div>
            <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
        </div>
    </div>
</div>


<script>

    let mem2s = document.getElementById("i2ControlRange1");
    let time2s = document.getElementById("i2ControlRange2");
    let mem1s = document.getElementById("i1ControlRange1");
    let time1s = document.getElementById("i1ControlRange2");
    let mem2 = document.getElementById("mem2");
    let time2 = document.getElementById("time2");
    let mem1 = document.getElementById("mem1");
    let time1 = document.getElementById("time1");

    function updateVals() {
        mem2.innerHTML = `Память - ${mem2s.value}`;
        time2.innerHTML = `Время - ${time2s.value}`;
    }

    function initSliders() {

        mem2s.oninput = () => { mem2.innerHTML = `Память - ${mem2s.value}`; } 
        time2s.oninput = () => { time2.innerHTML = `Время - ${time2s.value}`; }
        mem1s.oninput = () => { mem1.innerHTML = `Память - ${mem1s.value}`; }
        time1s.oninput = () => { time1.innerHTML = `Время - ${time1s.value}`; } 
    }

    // проверка доступа и все
    $.ajax(
        {
            type: 'GET',
            url: '/api/LaboratoryWorks/CheckAuth',
            beforeSend: (xhr) => {
            },
            success: () => {
                // :)
                initSliders();
            },
            error: (fail) => {
                document.body.innerHTML = '';
                alert('Нет доступа');
                history.go(-1);
            }
        });

    function openModalCreate() {
        $('#myModalCreate').modal('show');
    }

    //function openModalUpdate(tmpId, themeId, cipher, name, descr, constr) {
    function openModalUpdate(lwId,userIdent,tmpId, themeId, cipher, name, descr, constr, evaluation) {
        if (userIdent != sessionStorage.getItem(userId)) {
            alert('У вас нет доступа к данной лабораторной работе!');
            return;
        }
        console.log(evaluation)
        // дроп даун шаблон
        $("#myModalUpdate").find("select[id='s2TemplateId']").val(tmpId);
        $("#myModalUpdate").find("select[id='s2ThemeId']").val(themeId);
        $("#myModalUpdate").find("select[id='s2DisciplineCipher']").val(cipher);
        $("#myModalUpdate").find("select[id='s2Evaluation']").val(evaluation);
        //------------------
        $("#myModalUpdate").find("input[id='i2Name']").val(name);
        $("#myModalUpdate").find("textarea[id='i2Description']").val(descr);
        //$("#myModalUpdate").find("textarea[id='i2Constraints']").val(constr);
        constr = JSON.parse(constr)
        mem2s.value = constr.Memory
        time2s.value = constr.Time
        updateVals();
        $("#myModalUpdate").find("input[id='hiddenId']").val(lwId);
        $("#myModalUpdate").find("input[id='hiddenUserId']").val(userIdent);
        
        $('#myModalUpdate').modal('show');
    }

    function create() {

        let lwDto = {
            TemplateLaboratoryWorkId: $('#s1TemplateId').val(),
            ThemeId: $('#s1ThemeId').val(),
            Name: $('#i1Name').val(),
            Description: $('#i1Description').val(),
            Evaluation: $('#s1Evaluation').val(),
            //Evaluation: 1, // захардклдить
            DisciplineCipher: $('#s1DisciplineCipher').val(),
            UserId: sessionStorage.getItem(userId),
            Constraints: `{"Memory": ${mem1s.value}, "Time": ${time1s.value}}`//$('#i1Constraints').val(),
        }


        if (lwDto.Name.length == 0 ||
            lwDto.Description.length == 0 ||
            lwDto.Constraints.length == 0) {
            alert('Одно из полей не заполнено!');
            return;
        }

        $.ajax(
            {
                type: 'POST',
                url: '/api/LaboratoryWorks/Create',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(lwDto),
                beforeSend: (xhr) => {

                },
                success: (response) => {
                    document.location.reload(true);
                },
                error: (response) => {
                    alert(response.responseText);
                }
            }
        );
    }


    function updateLw() {
        let lwDto = {
            TemplateLaboratoryWorkId: $('#s2TemplateId').val(),
            ThemeId: $('#s2ThemeId').val(),
            Name: $('#i2Name').val(),
            Description: $('#i2Description').val(),
            Evaluation: 1, // захардкодить
            DisciplineCipher: $('#s2DisciplineCipher').val(),
            UserId: $('#hiddenUserId').val(), 
            Constraints: `{"Memory": ${mem2s.value}, "Time": ${time2s.value}}`//$('#i2Constraints').val(),
        }

        if (lwDto.Name.length == 0 ||
            lwDto.Description.length == 0 ||
            lwDto.Constraints.length == 0) {
            alert('Одно из полей не заполнено!');
            return;
        }

        $.ajax(
            {
                type: 'POST',
                url: '/api/LaboratoryWorks/Update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(lwDto),
                beforeSend: (xhr) => {
                    xhr.setRequestHeader("laboratoryWorkId", $("#myModalUpdate").find("input[id='hiddenId']").val());
                },
                success: (d) => {
                    document.location.reload(true);
                },
                error: (response) => {
                    console.log(response);
                    alert('Не удалось обновить лабораторную работу');
                }
            }
        );

    }

    function deleteLw(lwId, WhoAddUserId) {
        if (WhoAddUserId != sessionStorage.getItem(userId)) {
            alert('У вас нет доступа к данной лабораторной работе!');
            return;
        }

        if (confirm("Уверены, что хотите удалить данную лабораторную работу")) {
            $.ajax(
                {
                    type: 'POST',
                    url: '/api/LaboratoryWorks/Delete',
                    beforeSend: (xhr) => {
                        xhr.setRequestHeader('laboratoryWorkId', lwId);
                    },
                    success: (t) => {
                        document.location.reload(true);
                    },
                    error: (response) => {
                        alert('Удаление невозможно! Данная лабораторная работа еще имеет связи');
                    }
                }
            );
        }
    }

</script>